alembic==0.8.10
blinker==1.4
click==6.6
decorator==4.0.11
Flask==0.12
Flask-JSGlue==0.3.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==2.0.2
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
infinity==1.4
intervals==0.8.0
itsdangerous==0.24
Jinja2==2.8.1
Mako==1.0.6
MarkupSafe==0.23
mysql-connector==2.1.4
passlib==1.7.0
python-editor==1.0.3
six==1.10.0
SQLAlchemy==1.1.4
SQLAlchemy-Utils==0.32.12
validators==0.11.2
Werkzeug==0.11.15
wheel==0.24.0
WTForms==2.1
WTForms-Alchemy==0.16.1
WTForms-Components==0.10.2
